@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="title">
            <div class="row m-0">
                <div class="col-8">
                    <p class="btn btn-sm rounded-pill btn-outline-danger" id="section">Describe Cloud Concepts</p>
                </div>
                <div class="col-2" style="font-weight:bold;">
                    <span id="score">0</span>/<span id="nb-questions"></span>
                </div>
                <div class="col-2 text-right">
                    <span>Question <span id="no-question">1</span></span>
                </div>
            </div>
            
            <div class="col-12 text-justify" id="questionTxt">
            </div>
        </div>

        <div class="col-12 p-0" id="questions-container">
            <div class="question-container">
                <div class="letter">
                    A
                </div>
                <div class="text">
                    fault tolerance
                </div>
            </div>
            <div class="question-container">
                <div class="letter">
                    B
                </div>
                <div class="text">
                    <span>
                        elasticity
                    </span>
                </div>
            </div>
            <div class="question-container">
                <div class="letter">
                    C
                </div>
                <div class="text">
                    <span>
                        scalability
                    </span>
                </div>
            </div>
            <div class="question-container">
                <div class="letter">
                    D
                </div>
                <div class="text">
                    <span>
                        low latenciy
                    </span>
                </div>
            </div>

        </div>


        <div class="col-12 p-0">
            <div id="validation-container" style="display: none;">
                <div class="validation-text">
                    <span>Valider</span>
                </div>
                <div class="validation-btn">
                    <button id="valider">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 p-0">
            <div id="next-container" style="display: none;">
                <div class="next-text">
                    <span>Suivant</span>
                </div>
                <div class="next-btn">
                    <button id="next" style="font-weight:bold">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="25" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div id="explanation" style="display:none;">
            <div class="col-12 text-justify">
            </div>
        </div>
    </div>
</div>